<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <cms:block cms:replace="templates/templates/fragment/header" />
</head>

<body>
    <section id="fragment">
        <!-- 文章嵌入的推荐 -->
        <ul class="d-flex flex-wrap bg-white  p-1">
            <a th:href="'/'+${item.path}+'/'+${item.viewName}+'.html'" th:each="item : ${view}" class="p-2">
                <div>
                    <span class="badge badge-primary" th:text="${item.title}">1231232</span>
                </div>

                <!-- <p class="mb-1" th:text="${item.summary}"></p> -->
                <!-- <span class="badge badge-secondary badge-pill" th:text="${item.visits}"></span> -->

            </a>
        </ul>
    </section>
</body>

</html>