<!-- 基于页码的分页 -->
<!DOCTYPE html>
<html>

<head th:replace="template/templates/fragment/header :: common_header(~{::title},~{::link},~{})">
    <title th:text="${view.category.name}">分类页面</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous"> -->
    <link rel="stylesheet" href="templates/resources/css/category.css">
</head>

<body cms:inline="none">
    <style>
        #components a {
            display: block;
        }

        #components a:hover {
            background: #6c757d !important;
            color: white !important;
        }

        #components li {
            list-style: none;
        }
    </style>
    <div cms:replace="/html/components/header :: #fragment"></div>

    <div class="container" id="app">

        <div class="row">
            <div class="col-lg-9 ">

                <div id="main-content">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">首页 </a></li>
                        <li class="breadcrumb-item" th:if="${not #lists.isEmpty(view.parentCategories)}"
                            th:each="item : ${view.parentCategories}">
                            <a th:href="${item.linkPath}" th:text="${item.name}"></a>
                        </li>
                        <li class="breadcrumb-item active">
                            <span th:text="${view.category.name}"></span>
                        </li>
                    </ol>
                    <div class="catrgory-header shadow ">
                        <div class="img">
                            <img th:if="${view.category.picPath==''||view.category.picPath==null}" class="mb-1"
                                src="/templates/resources/img/logo_category.png">
                            <img th:if="${view.category.picPath!=null||view.category.picPath!=''}"
                                th:src="${view.category.picPath}" class="mb-1">
                            <!-- <div class="d-flex title">
                                <a class="text-secondary"
                                    th:href="@{'~'+${view.linkPath}+'_'+${view.category.id}+'_mind.html'}">
                                    <span th:text="${view.category.name}"></span>
                                </a>
                            </div> -->
                        </div>
                        <hr>



                        <div class="bg-light p-3">
                            <div th:utext="${view.category.description}"></div>
                            <ul class="list-group list-group-flush">
                                <div cms:replace="~{'/'+${view.category.path}+'/top/'+${view.category.viewName} :: #fragment }   ?:_"
                                    parser></div>
                            </ul>
                        </div>


                    </div>

            



                    <!-- 文章列表 -->
                    <!-- <ul class="list-group list-group-flush mb-3 text-center"> -->

                    <div id="components" class="mb-3 bg-white card">

                        <th:block th:fragment="row(commentsVar)">
                            <ul th:each="item,index:${commentsVar}">
                                <li th:if="${#lists.isEmpty(item.children)}" class="list-unstyled">
                                    <h4 th:if="${item.parentId==0}">
                                        </i><a th:href="${item.linkPath}" class="text-muted">
                                            <i class="bi bi-layout-text-sidebar-reverse"></i> <span
                                                th:text="${item.title}"></span>
                                        </a>
                                    </h4>
                                    <a th:if="${item.parentId!=0}" th:href="${item.linkPath}" class="text-secondary">
                                        <i class="bi  bi-file-earmark-text"></i> <span th:text="${item.title}"></span>
                                    </a>
                                </li>
                                <li th:if="not ${#lists.isEmpty(item.children)}" class="list-unstyled">
                                    <h4 th:if="${item.parentId==0}">
                                        </i><a th:href="${item.linkPath}" class="text-muted">
                                            <i class="bi bi-layout-text-sidebar-reverse"></i> <span
                                                th:text="${item.title}"></span>
                                        </a>
                                    </h4>
                                    <a th:if="${item.parentId!=0}" th:href="${item.linkPath}" class="text-secondary">
                                        <i class="bi  bi-file-earmark-text"></i> <span th:text="${item.title}"></span>
                                    </a>
                                    <th:block th:include="this::row(${item.children})"></th:block>
                                </li>
                            </ul>
                        </th:block>


                        <div class="card-body shadow ">
                            <div th:include="this::row(${view.contents})"></div>
                            <!-- <ul th:each="item : ${view.contents}" class="list-group ">

                                <h4>
                                    </i><a th:href="${item.linkPath}"  class="text-muted">
                                        <i class="bi bi-layout-text-sidebar-reverse"></i> <span th:text="${item.title}"></span>
                                    </a>
                                </h4>


                                <ul>
                                    <li th:each="child : ${item.children}">
                                        <a th:href="${child.linkPath}" class="text-secondary" >
                                            <i class="bi  bi-file-earmark-text"></i> <span th:text="${child.title}"></span>
                                        </a>
                                    </li>

                                </ul>

                            </ul> -->

                        </div>
                    </div>



                    <!-- </ul> -->

                    <!-- <div th:if="${view.totalPages} gt '1'" class="mb-3">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">

                                <li class="page-item">
                                    <a class="page-link" th:href="${view.linkPath}+'.html'"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link"
                                        th:href="'/'+${view.category.path}+'/'+${view.category.viewName}+'.html'">1</a>
                                </li>

                                <li class="page-item" th:each="item : ${#numbers.sequence(2, view.totalPages)}">
                                    <a class="page-link"  th:href="${view.linkPath}+'_'+${item}+'_page.html'" th:text="${item}">1</a>
                                </li>
            
                                <li class="page-item">
                                    <a class="page-link"    th:href="${view.linkPath}+'_'+${view.totalPages}+'_page.html'"aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div> -->
                </div>

            </div>

            <div class="col-lg-3"  id="siderbar" >
                <div class="card">
                    <div class="card-body shadow">
                        <dl>
                            <dt class="text-muted">快捷入口</dt>
                            <dd>
                                <a class=" badge badge-success" th:href="@{'~'+${view.linkPath}+'-mind.html'}">
                                    <!-- <span th:text="${view.category.name}"></span> -->
                                    思维导图
                                </a>
                            </dd>
                        </dl>
                        <hr>
                        <dl>
                            <form th:action="@{'~/user/write/'+${view.category.id}}" method="get" class="input-group">
                                <input name="title" type="text" class="form-control" placeholder="input article name">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">创建文章</button>
                                </div>
                            </form>
                        </dl>
                    </div>
                </div>


                <div class="pb-3">
                    <div th:if="${view.parentCategory}">
                        <div cms:replace="~{'html/articleList/categoryChildren/'+${view.parentCategory.viewName}} ?:_"
                            parser></div>
                    </div>
            

                    <div id="categoryChildren" th:if=${view.parentCategory==null}>
                        <!-- <ul class="list-group">
                            <li th:each=" item :${view.children}" class="list-group-item">
                                <a th:href="${item.linkPath}" class="text-secondary" th:text="${item.name}"></a>
                            </li>
                        </ul> -->


                        <th:block th:fragment="category(commentsVar)">
                            <ul th:each="item,index:${commentsVar}">
                                <li th:if="${#lists.isEmpty(item.children)}" class="list-unstyled">
                                    <h4 th:if="${item.parentId==0}">
                                        </i><a th:href="${item.linkPath}" class="text-muted">
                                            <i class="bi  bi-book" th:class="${item.icon}"></i> <span
                                                th:text="${item.name}"></span>
                                        </a>
                                    </h4>
                                    <a th:if="${item.parentId!=0}" th:href="${item.linkPath}" class="text-secondary">
                                        <i class="bi  bi-box2" th:class="${item.icon}"></i> <span
                                            th:text="${item.name}"></span>
                                    </a>
                                </li>
                                <li th:if="not ${#lists.isEmpty(item.children)}" class="list-unstyled">
                                    <h4 th:if="${item.parentId==0}">
                                        </i><a th:href="${item.linkPath}" class="text-muted">
                                            <i class="bi  bi-book" th:class="${item.icon}"></i> <span
                                                th:text="${item.name}"></span>
                                        </a>
                                    </h4>
                                    <a th:if="${item.parentId!=0}" th:href="${item.linkPath}" class="text-secondary">
                                        <i class="bi  bi-box2" th:class="${item.icon}"></i> <span
                                            th:text="${item.name}"></span>
                                    </a>
                                    <th:block th:include="this::category(${item.children})"></th:block>
                                </li>
                            </ul>
                        </th:block>
                        <div class="card mb-3  bg-white">
                            <div class="shadow">
                                <div th:include="this::category(${view.children})"></div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>

    <div cms:replace="/html/components/footer :: #fragment"></div>
    <div th:replace="template/templates/fragment/footer"></div>

    <script>
        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn" });
        });
    </script>
</body>

</html>