<!DOCTYPE html>
<html lang="en">
    <head th:replace="templates/fragment/header :: common_header(~{::title},~{},~{})">
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文献</title>
</head>
<body>
    <div cms:replace="/html/components/header :: #fragment"></div>
    <div class="container" id="app">
      <div class="row mb-3 " >
        <div class="col-lg-3  bg-white p-1 mr-1">
            <div cms:replace="/html/components/collectionTree :: #fragment"></div>
        </div>
        <div class="col-lg-8 bg-white">
            <ul >
                <li th:each="item,index:${view}" class="list-unstyled">
                    <!-- <a  th:href="'/html_literature_'+${item.key}+'.html'" class="text-secondary">
                        <i class="bi  bi-file-earmark-text"></i>  <span th:text="${item.name}"></span>
                    </a> -->
                    <span th:text="${item.title}"></span>
                    <hr>
                </li>
              
            </ul>
        </div>
      </div>

    </div>
    <div cms:replace="/html/components/footer :: #fragment"></div>
</body>
</html>