<!DOCTYPE html>
<html lang="en">

<head th:replace="template/templates/fragment/header :: common_header(~{},~{},~{})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文献分类</title>
</head>

<body>
    <style>
        .card-height {
            height: calc(60vh);
            overflow-y: auto;
        }
    </style>
    <div cms:replace="/html/components/header :: #fragment"></div>
    <div class="container" id="app">

        <div class="row mb-3 ">
            <div class="col-lg-3">
                <div cms:replace="/html/components/collectionTree :: #fragment"></div>
            </div>
            <div class="col-lg-8 bg-white shadow pt-3">


                <form action="/user/literature">
                    <div class="input-group mb-3">

                        <input type="text" class="form-control" placeholder="请输入文献名称" name="keywords">
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-outline-secondary" value="搜索">
                        </div>

                    </div>
                </form>
                <hr>
                <ul>
                    <li th:each="item,index:${view}" class="list-unstyled">
                        <!-- <a  th:href="'/html_literature_'+${item.key}+'.html'" class="text-secondary">
                            <i class="bi  bi-file-earmark-text"></i>  <span th:text="${item.name}"></span>
                        </a> -->
                        <a th:if="${item.url}" th:href="${item.url}">
                            <span th:text="${item.title}"></span>
                        </a>
                        <span th:unless="${item.url}" th:text="${item.title}"></span>
                        
                        <span th:text="${item.key}"></span>
                        <hr>
                    </li>

                </ul>
            </div>
        </div>



    </div>
    <div cms:replace="/html/components/footer :: #fragment"></div>
    <div th:replace="template/templates/fragment/footer"></div>
    <script src="/templates/resources/js/axios.min.js"></script>
    <script src="/templates/resources/js/service.js?v=1.2"></script>
    <script>
        $("#sync").click(function () {
            literatureApi.syncLiterature().then(resp => {
                handleMessage(resp.data.message)
            }).catch(function (error) {
                // handle error
                console.log(error.response.data.message);
                handleMessage(error.response.data.message)

                // alert(error.response.data.message)

            })
        })
    </script>
</body>

</html>