<!DOCTYPE html>
<html lang="en">

<head >
    <title>文献分类</title>
    <cms:block cms:replace="templates/templates/fragment/header" />

</head>

<body>
    <style>
        .card-height {
            height: calc(60vh);
            overflow-y: auto;
        }
    </style>
    <div cms:replace="/html/components/header :: #fragment"></div>
    <div class="container margin-top-72" id="app">

        <div class="row mb-3 ">
            <div class="col-lg-3">
                <div cms:replace="/html/components/collectionTree :: #fragment"></div>
            </div>
            <div class="col-lg-8 bg-white shadow pt-3">


                <form action="/user/literature">
                    <div class="input-group mb-3">

                        <input type="text" class="form-control" placeholder="请输入文献名称" name="keywords">
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-outline-secondary" value="搜索">
                        </div>

                    </div>
                </form>
                <hr>
   
                
           
                <div class="border p-3">
                    <b class="badge badge-primary">Title :</b> <b th:text="${view.title}"></b><br>
                    <b class="badge  badge-success">Publish Date :</b> <b th:text="${view.publishDate}">11</b><br>
                    <b class="badge badge-info">Zotero Link:</b> <a th:href="'zotero://select/library/items/'+${view.zoteroKey}" th:text="'zotero://select/library/items/'+${view.zoteroKey}">11</a><br>
                </div>
                <hr>
                <span cms:if="${#sets.contains(roles, 'ADMIN')}">
                    <a th:href="'/user/editContent/'+${view.id}">编辑</a>
                </span>
                <a th:href="@{~/articleList(tagsId=${item.id})}" class="badge badge-info mr-1"
                th:each="item : ${view.tags}" th:text="${item.name}"></a>
                
                <div  class="markdown" th:utext="${view.formatContent}"></div>
                <!-- <ul>
                    <li th:each="item,index:${view}" class="list-unstyled">
                   
                        <a th:if="${item.url}" th:href="${item.url}">
                            <span th:text="${item.title}"></span>
                        </a>
                        <span th:unless="${item.url}" th:text="${item.title}"></span>
                        
                        <span th:text="${item.key}"></span>
                        <hr>
                    </li>

                </ul> -->
            </div>
        </div>



    </div>
    <div cms:replace="/html/components/footer :: #fragment"></div>
    <div th:replace="templates/templates/fragment/footer"></div>
    <script src="/templates/resources/js/axios.min.js"></script>
    <script src="/templates/resources/js/service.js?v=1.2"></script>
    <script>
        $("#sync").click(function () {
            literatureApi.syncLiterature().then(resp => {
                handleMessage(resp.data.message)
            }).catch(function (error) {
                // handle error
                console.log(error.response.data.message);
                handleMessage(error.response.data.message)

                // alert(error.response.data.message)

            })
        })
    </script>
</body>

</html>