<div class="container-side">
    <div class="left-side ">
    
        <ul>
            <li class="list-unstyled">
                <div class="mr-3 support" data-target="#support">支持</div>
                <div class="support-img" id="support">
                    <img id="weixin"
                        data-slide="http://wangyang-bucket.oss-cn-beijing.aliyuncs.com/cms/image/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20221106232619_1667748522270.jpg"
                        alt="">
                </div>
            </li>
            <li class="list-unstyled">
                <div class="mr-3 support" data-target="#gongzhong">公众号</div>
                <div class="support-img" id="gongzhong">
                    <img id="weixin"
                        data-slide="http://wangyang-bucket.oss-cn-beijing.aliyuncs.com/cms/image/image_1662270950482.png"
                        alt="">
                </div>
            </li>
            <li class="list-unstyled">
                <div class="mr-3 support" data-target="#taobao">淘宝店</div>
                <div class="support-img" id="taobao">
                    <img id="weixin"
                        data-slide="http://wangyang-bucket.oss-cn-beijing.aliyuncs.com/cms/image/%E4%B8%8B%E8%BD%BD_1673615167835.png"
                        alt="">
                </div>
            </li>
        </ul>
    </div>
</div>