html {
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    margin: 0 auto;
    background: #f6f6f6;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* 公共顶部样式 */
#header {
    background: #fff;
    /* height: 3.5rem; */
}

.nav-title a {
    padding: 0;
}

.pointer {

    cursor: pointer;

}

a {
    text-decoration: none !important;
}

.toc {
    padding: 0 !important;
}

.toc li {
    list-style: none;
}

.toc a {
    color: #6c757d !important;
}

/* nav{
    white-space: nowrap;
    height: 2rem;
    line-height: 2rem;
    font-size: 2rem;
    overflow-y: hidden;
    position: fixed;
    
} */

a:focus {
    outline: none;
}

.navbar {
    background: #e9ecef;
}

/*隐藏滚动条*/
.nav::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

/* .breadcrumb::-webkit-scrollbar {
    width: 0 !important
} */

.nav,
.breadcrumb {
    display: inherit;
    white-space: nowrap;
    overflow: auto;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.nav .nav-item {
    /* margin-top: 0.5rem; */
    display: inline-block;
}

.breadcrumb .breadcrumb-item {
    display: inline-block;
}

/* .navbar-collapse {
    overflow-x: auto;
} */

.mobile-fix {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: .5rem 1rem;
    background: #fff;
}

.mobile-search {
    display: none;
}

.search-panel-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    /* margin-top: 72px; */
    flex: 1;
}

/* 文章标题 */
.title {
    color: black;
    /* font-weight: bold; */
}

/* 底部导航设置 */
.footer {
    /* width: 960px; */
    /* background: #e9ecef; */
    background: #fff;
    color: #6c757d;
    /* width: 100%; */
    /* position: absolute;
    bottom: 0; */
    padding: 1rem 0;

}

.footer a {
    color: #6c757d;
}

.footer .container {
    margin-top: 0;
}

.footer dl,
.footer dd {
    margin: 0;
}

/* 栏目页面底部黏住 */
.channelContent {
    display: flex;
    flex-direction: column;
}

.channelContent-1 {
    flex: 1;
}

/* p自动换行 */
.list-group p {
    word-wrap: break-word;
    word-break: normal;
}

/* 分类的横向展示 */
.category-title {
    background: #fdfdfe;
    height: 3rem;
    line-height: 3rem;
    padding-left: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.category-horizontal .category-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* margin-bottom: 1rem; */

    /* border: 1px solid rgba(0, 0, 0, .125); */
    padding: 0.3rem;
    background: #fff;
}

.category-horizontal .category-list a {
    text-decoration: none;
    /* width: 25%; */
    display: inline-flex;
    justify-content: center;
    padding: 0 1rem;
    height: 2.5rem;
    align-items: center;
    color: #495057;

}

.category-horizontal .category-list a:hover {
    background: #f6f6f6;
    color: #000;
}

.category-horizontal .category-list a:nth-child(odd) {
    /* background: red; */
}

/* 垂直的分类 */
.category-vertical .category-list {
    display: flex;
    margin-bottom: 1rem;

    background: #fff;
    flex-direction: column;
}

.category-vertical .category-list a {
    text-decoration: none;
    padding: .75rem 1.25rem;
    display: inline-flex;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    align-items: center;
    color: #495057;

}

.category-vertical .category-list a:hover {
    background-color: #f8f9fa;
}


/* 分类头部样式 */
.catrgory-header {
    /* display: flex; */
    /* padding: 1rem; */
    /* border: 1px solid rgba(0, 0, 0, .125); */
    margin-bottom: 0.5rem;
    background: #fff;
    align-items: center;
}

.catrgory-header .img {

    display: flex;
    flex-direction: column;
    align-items: center;

}

/* .catrgory-header img {
    width: 100%;
} */
.catrgory-header .title {
    white-space: nowrap;
}

/* 内容头部样式 */
.content-header .info {
    font-size: 0.8rem;
}

.content-header .title {
    font-size: 2.25em;
}

/* 文章用户信息 */
.user-info img {
    width: 4rem;
    height: 4rem;
}

/* 文章内容标注换行 */
.footnotes {
    word-wrap: break-word;
}

/*拖拽css*/

#close-content-table {
    display: none;
}

/*全屏显示大图*/
.opacityBottom {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.none-scroll {
    overflow: hidden;
    /* height: 80%; */
}


.img-avatar {
    width: 1.2rem;
    height: 1.2rem;

}

.img-summary {
    width: 7rem;
    height: 4rem;
    overflow: hidden;
}

.img-summary img {
    width: 7rem;
}

/*目录导航*/
#content-table {
    overflow-y: auto;
}


@media screen and (max-width: 991px) {

    /*手机文章列表图文*/
    .mobile-summary {
        flex-direction: column;
    }

    .mobile-img {
        margin-right: 0 !important;
        margin-bottom: 1rem;
    }

    .img-summary {
        width: 100%;
        height: 7rem;
        overflow: hidden;
    }

    .img-summary img {
        width: 100% !important;
    }

    /*手机文章列表图文*/
    .footnotes p {
        display: block;
    }

    .nav .nav-link {
        padding: .25rem 0.15rem;

    }

    /* .navbar {
        position: relative;
        text-align: center;
    } */


    .container {
        margin-top: 0px !important;
        overflow-x: hidden;
        padding: 0;
    }

    .bd-search {
        width: 100%;
        display: none;
    }

    .navbar .form-inline {
        width: 100%;
    }

    .navbar .form-inline input {
        width: 100%;
    }

    .nav-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 !important;
    }

    .mobile-search {
        display: block;
    }

    .mobile-search img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (max-width: 991px) {
    /* .index-article a {
        width: 100% !important;
    } */

    .carousel-caption p {
        display: none;
    }

    .navbar-collapse a {
        padding: 0;
        line-height: none;
    }
}

.meta-media {
    position: relative;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    z-index: 99;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#toc a,
#toc span {
    white-space: nowrap;
}

#toc {
    overflow-x: auto;
}





.navbar {
    position: fixed;
    width: 100%;
    background: #fff !important;
    z-index: 999999;
}


.navbar {
    padding: 0 !important;
    /* height: 3.5rem; */
}

.nav-title {

    background: #f8f9fa;
    height: 100%;
    line-height: 3.5rem;
    border-radius: 10%;
}

.nav-title:hover {
    background: white;
}

.navbar-collapse>ul>li>a {
    padding: 0;
    line-height: 3.5rem;
}

.nav-link:hover {
    background: #00dfff !important;
    color: white !important;

}

.navbar-collapse .active {
    background: #00dfff !important;
    color: white !important;

}

.navbar-collapse .active a {
    /* background: #00dfff !important; */
    color: white !important;

}

@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    .navbar-collapse {
        background: white;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }


    .navbar-collapse a {
        /* padding: 1rem 0.5rem!important; */
        line-height: inherit !important;
    }

    .nav-title {
        line-height: inherit !important;
        height: auto;
    }

}

.comment-row {
    margin-right: 30px;
    padding: 1rem 0;
    border-top: 2px #e7e7e7 solid;
    /* height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box; */
}

.comment-row hr {
    margin: 0.5rem 0 !important;
}


.left-side {
    position: fixed;
    z-index: 9999;
    display: inline-block;
    top: 17%;
    transform: translateX(-270%);
}

.left-side li {
    /* position: absolute; */
    display: flex;
}

.left-side ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
}

.support-img {

    left: 87px;
    position: absolute;
}

.support {
    color: #fff;
    background-color: #28a745;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    font-size: 75%;

}

#support:hover {
    background-color: #006016;
}

@media screen and (max-width: 991px) {
    .left-side {
        display: none;
    }


}

/* .left-side-img{
    width: 13rem;
} */

.left-side-img img {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}


.message {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: fixed;
    top: 8px;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    pointer-events: none;
}

.message-notice {
    padding: 8px;
    text-align: center;

    -webkit-animation-name: MessageMoveOut;
    animation-name: MessageMoveOut;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.message-content {
    color: #52c41a;
    display: inline-block;
    padding: 10px 16px;
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: all;
}

@-webkit-keyframes MessageMoveOut {
    0% {
        max-height: 0;
        padding: 0;
        opacity: 0;
    }

    100% {
        max-height: 150px;
        padding: 8px;
        opacity: 1;
    }
}

@keyframes MessageMoveOut {
    0% {
        max-height: 0;
        padding: 0;
        opacity: 0;
    }

    100% {
        max-height: 150px;
        padding: 8px;
        opacity: 1;
    }
}


.data-original {
    display: flex;
    justify-content: center;
}

.margin-top-72 {
    margin-top: 72px;
}

@media (min-width: 1110px) {
    .container-side {
        max-width: 1120px;
    }
}




.container-side {
    /* max-width: 1140px; */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.shop {
    height: 11rem;
    overflow-y: hidden;
    /* background: red; */
    /* overflow-y: auto;
    overflow-x: auto; */
    /* padding: 1rem; */
}

.shop ul {
    padding-left: 0;
}

.shop a {
    /* white-space: nowrap; */
}

.img-caption {
    text-align: center;
    color: rgb(160, 160, 160);
    margin-top: 0 !important;
}

.vh-69 {
    height: 69vh;
}

.card-img-height {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 8rem;
}

.category-card .card-img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: all .5s ease;
}

.category-card .card-img-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, .6);
    transition: all 0.5s ease;
}

.no-border {
    border: none !important;
}

.category-card:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}

.category-card:hover .card-img-overlay {
    opacity: 1;
}


.category-card-show {

    text-align: center;
    color: #fff;

}
.category-card-show .card-img-height {
    border-radius: 2%;
}
.category-card-show .card-img-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);

}

.category-card-show img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: all 0.5s ease;
}

.category-card-show:hover img {
    transform: translate(-50%, -50%) scale(1.1);
}


.catrgory-header .img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 15rem;
}

.catrgory-header img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.breadcrumb {
    background-color: #fff;
    /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
}

.carousel-item {
    height: 25rem;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-caption-warp {
    width: 100%;
    display: table;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    padding-top: 20px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.carousel-caption-box {
    position: relative;
    /* z-index: 2; */
    /* max-width: 1400px; */
    padding: 0 90px;
    display: block;
    margin: 20px auto;
    display: table-cell;
    vertical-align: middle;
}

.carousel-caption {
    position: initial !important;
    text-align: initial !important;
}

.carousel-caption-box h1 {
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;

}

.carousel-caption-box a {
    color: #ffffff;
}

.flex-table-box {
    overflow-y: auto;
    overflow-x: hidden;
    /* height: 100%; */
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    display: none;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    height: 6px;
    border-radius: 25px;
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.30);
}

@media (min-width: 1400px) {
    .container-xl {
        max-width: 1340px;
        flex: 1;
    }
}

@media screen and (max-width: 1200px) {
    .container-xl {
        margin-top: 0px !important;
        overflow-x: hidden;
        padding: 0;
        flex: 1;
    }

    .md-left,
    .md-right {
        display: none;
    }

}

.category-table>div>ul,
.content-table>ul {
    padding-left: 0;
    margin-bottom: 0;
    color: #007bff !important;
}

.category-table>div>ul>li>a,
.content-table>ul>li>a {
    padding-left: 0;
    margin-bottom: 0;
    /* color: #007bff !important; */
}

/* .category-table>div>ul>li>a:hover,
.content-table>ul>li>a:hover {
    color: #0056b3 !important;
} */
.category-table li{
    padding: 2px 0;
}
.category-table>div>ul a,
.content-table>ul a {
    margin-top: 0.625em;
    /* display: block; */
    line-height: 1.3rem;
}

.content-table a {
    color: #6c757d !important;
}

.content-table li {
    padding-left: 0;
    list-style: none;
}

.content-table a:focus,
.content-table a:hover {
    color: #494f54 !important;
}

#main-content .breadcrumb {
    margin: 0;
    background-color: transparent;
    /* border: solid #6c757d 0.5px; */
    /* padding: 0;
    padding-top: 0.5rem; */
}

.markdown-course {
    background: transparent;
}

.shop-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 3.5rem;
    display: block;
}

.shop-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: all 0.5s ease;
}

.shop-item {
    border-bottom: 1px solid #6c757d;
    padding: 0.5rem 0;
}

.mobile-form {
    display: none !important;
}

.dropdown-menu {
    border: none;

}

@media screen and (min-width: 991px) {
    .dropdown-menu.overflow-y {
        max-height: 20rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    /* .dropright .dropdown-menu */
}

@media screen and (max-width: 991px) {
    .navbar .navbar-brand {
        text-align: center;
        width: 100%;
    }

    .mobile-form {
        display: flex !important;
        width: 100%;
        padding: 1rem 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .form-inline-pc {
        display: none;
    }

    .navbar .mobile-form input {
        flex: 1;
    }

    .navbar-nav {
        padding: 1rem 1.5rem;
    }
}



/* #header {
    position: relative;
} */


.article-option {
    width: 90%;
    margin: 0 auto;
}



/*svg字符串上传面板*/
.fixed-card {
    /* position: fixed; */
    width: 60rem;
    z-index: 99;
    display: none;
    width: 100%;
    overflow-y: auto;
}

/*附件面板*/
.drawer-panel {
    /* width: 30rem; */
    position: fixed;
    background: #fff;
    z-index: 999;
    overflow-y: auto;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    height: 100%;
}

.edit-input {
    z-index: 9999;
    width: 100%;
    /* margin: 0; */

}

#markdown-preview {
    overflow-y: auto;
    max-height: 39rem;
    overflow-x: auto;
}

.col-50 {
    width: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 6;
    width: 3% !important;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: transparent;
}

.article-activate {
    color: #007bff !important;
}

.article-activate :hover {
    color: #0056b3 !important;
}
.thisToc a.active{
    color: #007bff !important;
}
.thisToc a.active:hover {
    color: #0056b3 !important;
}


.language-out{
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid rgba(0,0,0,.5);
}

.h-auto .img{
    height: auto;
}
.h-auto img{
    position: relative;
    top: auto;
    left: auto;
    transform: none;
}

.bg-img{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -23;
    text-align: center;
}
.bg-img img{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 20rem;
}
.bg-img  p{
    position: absolute;
    bottom: 0;
    left: 0;
}
.index-right-warp{
    position: fixed;
    z-index: 9999;
    display: inline-block;
    transform: translateX(-270%);
    max-width: 20rem;
    bottom: 25rem;
}
.index-left{
    position: absolute;
    right: 0;
    width: 18rem;
    text-align: center;
}
button:focus{
    outline:none !important;
}

.wp-90 img{
    width: 90% !important;
}

.wp-80 img{
    width: 80% !important;
}
.wp-70 img{
    width: 70% !important;
}
.wp-60 img{
    width: 60% !important;
}
.wp-50 img{
    width: 50% !important;
}
.wp-40 img{
    width: 40% !important;
}
.wp-30 img{
    width: 30% !important;
}
.wp-20 img{
    width: 20% !important;
}

.katex{
    font-size: inherit !important;
}