<!DOCTYPE html>
<html lang="en">

<head>
    <title>组件</title>
    <cms:block cms:replace="templates/templates/fragment/header" />
</head>


<body>
    <style>
        .card-height {
            height: calc(60vh);
            overflow-y: auto;
        }
    </style>
    <div cms:replace="/html/components/header :: #fragment"></div>
    <div class="container  container-80vw margin-top-72" id="app">

        <div id="fragment">

            <div th:each="category :${view}">
                <div class="header-left-small">
                    <h5 th:text="${category.category.name}"></h5>
                </div>
                <!-- column category-icon   -->


                <!-- <span class="iconfont icon-jiyin"></span> -->

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-5 index-category">

                    <div th:each="item : ${category.categoryVOS}" class="col">
                        <a th:href="${item.linkPath}" class="item text-info d-block text-center  d-block">
                            <div class="d-flex flex-row align-items-center">
                                <div class="mr-3">
                                    <i th:class="${item.icon}"></i>
                                </div>
                                <h5 class="item-title" th:text="${item.name}">Card title</h5>
                            </div>
                        </a>
                    </div>

                </div>

            </div>



        </div>





    </div>
    </div>

    </div>
    <div cms:replace="/html/components/footer :: #fragment"></div>
    <div cms:replace="templates/templates/fragment/footer"></div>
    <script src="/templates/resources/js/axios.min.js"></script>
    <script src="/templates/resources/js/service.js?v=1.2"></script>



    <script>
        // 图片懒加载
        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn" });
        });
    </script>
</body>

</html>