<!DOCTYPE html>
<html lang="en">

<head>
    <title>组件</title>
    <cms:block cms:replace="templates/templates/fragment/header" />
</head>


<body>
    <style>
        .card-height {
            height: calc(60vh);
            overflow-y: auto;
        }
    </style>
    <div cms:replace="/html/components/header :: #fragment"></div>
    <div class="container margin-top-72" id="app">

        <div id="fragment">
            <div class="column category-icon  d-flex">
                <div class="m-7" th:each="item : ${view}">
                    <!-- <span class="iconfont icon-jiyin"></span> -->
                  


                    <a th:href="${item.linkPath}" class="text-info d-block text-center  mr-2">
                       
                        <i th:class="${item.icon}"></i>
                        <h5 class="card-title" th:text="${item.name}">Card title</h5>
                    </a>
                </div>
            </div>




        </div>
    </div>

    </div>
    <div cms:replace="/html/components/footer :: #fragment"></div>
    <div cms:replace="templates/templates/fragment/footer"></div>
    <script src="/templates/resources/js/axios.min.js"></script>
    <script src="/templates/resources/js/service.js?v=1.2"></script>



    <script>
        // 图片懒加载
        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn" });
        });
    </script>
</body>

</html>