<!DOCTYPE html>
<html lang="en">

<head>
    <title>组件</title>
    <cms:block cms:replace="templates/templates/fragment/header" />
</head>


<body>
    <style>
        .card-height {
            height: calc(60vh);
            overflow-y: auto;
        }
    </style>
    <div cms:replace="/html/components/header :: #fragment"></div>
    <div class="container margin-top-72" id="app">

        <div class="row " id="fragment">
            <div class="col-md-4 mb-3" th:each="item : ${view}">
                <a th:href="${item.linkPath}" class="text-secondary">
                    <div class="card category-card-show no-border">
                        <div class="card-img-height ">
                            <img th:data-original="${item.picThumbPath}" class="card-img lazy"
                                th:if="${item.picThumbPath!=''}">
                            <img data-original="http://wangyang-bucket.oss-cn-beijing.aliyuncs.com/cms/image/1675527366022_1675527607698.png?x-oss-process=image/resize,l_400,mfit"
                                class="card-img lazy" th:if="${item.picThumbPath==''}">
                            <div class="card-img-overlay">
                                <h5 class="card-title" th:text="${item.name}">Card title</h5>
                                <p class="text-light" th:text="${item.description}"></p>
                            </div>
                        </div>
                        <!-- <div class="card-body">
                            
                        </div> -->
                    </div>

                </a>
            </div>



        </div>
    </div>

    </div>
    <div cms:replace="/html/components/footer :: #fragment"></div>
    <div cms:replace="templates/templates/fragment/footer"></div>
    <script src="/templates/resources/js/axios.min.js"></script>
    <script src="/templates/resources/js/service.js?v=1.2"></script>



    <script>
        // 图片懒加载
        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn" });
        });
    </script>
</body>

</html>