<!DOCTYPE html>
<html>

<head th:replace="templates/templates/fragment/header :: common_header(~{::title},~{::link},~{::meta})">
    <meta charset="UTF-8">
    <meta name="keywords" content="生物信息学,生信,生信小木屋,生物信息分析,r语言,python">
    <meta name="description" content="生信小木屋，用数据科学的知识，探索生命科学的奥秘">
    <title>生信小木屋</title>
    <link rel="stylesheet" href="/templates/resources/css/home.css">

</head>

<body cms:inline="none">

    <div cms:replace="/html/components/header :: #fragment"></div>
    <div class="container margin-top-72">
        <div class="row ">
            <div class="col-lg-9">

            </div>

            <div class="col-lg-3">
               
                <div class="card mb-3  bg-white " id="fragment">
              
                    <div class="card-body shadow">
                        <div class="shop">
                            <ul id="sItem">
                                <p class="mb-1"><a class="text-secondary" href="/html_articleList_shop.html">淘宝商品</a></p>
                                <li th:each="item : ${@articleServiceImpl.listVoByCategoryViewName('shop')}"
                                    class="list-unstyled">
                                    <div class="row mr-0 ml-0">
                                        <div class="col-4 pl-0 pr-1"> <a target="_blank" th:href="${item.picThumbPath}"><img th:src="${item.picPath}" alt=""></a></div>
                                        <div class="col-8 pr-0 pl-0"><a th:href="${item.linkPath}" th:text="${item.title}"
                                                class="text-secondary"></a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <div cms:replace="/html/components/footer :: #fragment"></div>

    <div th:replace="templates/templates/fragment/footer"></div>
    <script>


    </script>
    <!-- <script type="text/javascript">
  
    </script> -->


</body>

</html>