<!DOCTYPE html>
<html>

<head>
    <title>组件</title>
    <cms:block cms:replace="templates/templates/fragment/header" />
</head>


<body cms:inline="none">

    <div cms:replace="/html/components/header :: #fragment"></div>
    <div class="container margin-top-72">
        <div class="row ">
            <div class="col-lg-9">

            </div>

            <div class="col-lg-3">
                <div class="shop  g-bg p-2" id="fragment">
                    <ul id="sItem">
                        <p class="mb-1"><a class="text-secondary" href="/html_articleList_shop.html">淘宝商品</a></p>
                        <!-- ${@articleServiceImpl.listVoByCategoryViewName('shop')} -->
                        <li  th:each="item : ${view}"
                            class="list-unstyled shop-item">
                            <div class="row mr-0 ml-0">
                                <div class="col-4 pl-0 pr-1"> <a target="_blank" th:href="${item.picPath}" class="shop-img"><img
                                            th:src="${item.picPath}" alt=""></a></div>
                                <div class="col-8 pr-0 pl-0"><a th:href="${item.linkPath}" th:text="${item.title}"
                                        class="text-secondary"></a></div>
                            </div>
                        </li>
                    </ul>
                </div>

                
            </div>
        </div>




    </div>

    <div cms:replace="/html/components/footer :: #fragment"></div>

    <div th:replace="templates/templates/fragment/footer"></div>
    <script>


    </script>
    <!-- <script type="text/javascript">
  
    </script> -->


</body>

</html>