<!-- 第二版主页 -->
<!DOCTYPE html>
<html>

<head>
    <title>生信小木屋</title>
    <meta name="keywords" content="生物信息学,生信,生信小木屋,生物信息分析,r语言,python">
    <meta name="description" content="生信小木屋，用数据科学的知识，探索生命科学的奥秘">
    <cms:block cms:replace="templates/templates/fragment/header" />
    <cms:block cms:replace="templates/templates/fragment/statistics" />
    <link rel="stylesheet" href="/templates/resources/css/home.css">
</head>

<body cms:inline="none" class="dark">
    <!-- <div class="margin-top-72"></div> -->
    <header class="header">
        <div cms:replace="/html/components/header :: #fragment"></div>

        <div id="particles"></div>
        <div class="info-text">
            <h1>生信小木屋</h1>
            <h3>利用数据科学的知识，探索生命科学的奥秘
            </h3>
            <a href="#article2" class="scroll">
                <i class="bi bi-caret-down-fill"></i>
            </a>
        </div>
    </header>
    <!-- <div id="article2">
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
                <button class="nav-link active" id="profile-tab" data-toggle="tab" data-target="#profile" type="button"
                    aria-selected="false">热门文章</button>
            </li>
            <li class="nav-item">
                <button class="nav-link " id="home-tab" data-toggle="tab" data-target="#home" type="button"
                    aria-selected="true">最新文章</button>
            </li>

        </ul>

        <div class="tab-content">
            <div class="tab-pane fade  show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div cms:replace="/html/components/hotArticle :: #fragment"></div>
            </div>
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div cms:replace="/html/components/newArticleIndex :: #fragment"></div>
            </div>

        </div>
    </div> -->

    <section id="article2">
        <div class="header">
            <h1>最新文章</h1>
            <!-- <a href="#">更多</a> -->
        </div>
        <div cms:replace="/html/components/newArticleIndex :: #fragment"></div>

        <!-- <div class="card2">
            <img src="https://bioinfo.online/logo.svg">
            <div class="info">
                <h1>It's AsmrProg</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptates error in dolorum dolor
                    rerum
                    reiciendis consequuntur tenetur maxime.
                </p>
            </div>
        </div> -->

    </section>
    <section id="article2">
        <div class="header">
            <h1>热门文章</h1>
            <!-- <a href="#">更多</a> -->
        </div>
        <div cms:replace="/html/components/hotArticle :: #fragment"></div>

        <!-- <div class="card2">
            <img src="https://bioinfo.online/logo.svg">
            <div class="info">
                <h1>It's AsmrProg</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam voluptates error in dolorum dolor
                    rerum
                    reiciendis consequuntur tenetur maxime.
                </p>
            </div>
        </div> -->

    </section>
    <!-- <section id="features">
        <div class="header">
            <h1>Features</h1>
            <a href="#">See More</a>
        </div>
        <div class="feature-cards">
            <div class="card2">
                <div class="info">
                    <i class="bi bi-hdd-rack"></i>
                    <h1>Responsive Design</h1>
                    <p>
                        Explore a diverse collection of my creative endeavors, including web design, javascript and mini
                        projects.
                        Each project showcases my creativity, attention to detail, and passion for delivering visually
                        stunning and
                        engaging experiences.
                    </p>
                </div>
            </div>
            <div class="card2">
                <div class="info">
                    <i class="bi bi-hdd-rack"></i>

                    <h1>Creative Projects</h1>
                    <p>
                        Behind the scenes, I pride myself on writing clean, efficient, and maintainable code. Learn more
                        about my
                        coding standards and practices that contribute to the functionality and performance of the
                        projects I
                        undertake.
                    </p>
                </div>
            </div>
     
        </div>
    </section> -->

    <section style="padding: 2rem;">
        <div cms:replace="html/components/myArticle :: #fragment"></div>

        <div cms:replace="/html/components/categoryComponent :: #fragment"></div>


        <div class="row mb-5">
            <div class="col-lg-4">
                <div cms:replace="html/articleList/ARTICLE_TOP/20230558344"></div>
            </div>
            <div class="col-lg-4">
                <div cms:replace="html/articleList/ARTICLE_TOP/202321823699"></div>
            </div>
            <div class="col-lg-4">
                <div cms:replace="html/articleList/ARTICLE_TOP/20232129251"></div>
            </div>
            <div class="col-lg-4">
                <div cms:replace="html/articleList/ARTICLE_TOP/20238323679"></div>
            </div>
            <div class="col-lg-4">
                <div cms:replace="html/articleList/ARTICLE_TOP/20243719849"></div>
            </div>
        </div>

    </section>



    <button href="javascript:;" class="scroll-top" onclick="scrollToTop()">
        <i class="bi bi-caret-up-fill"></i>
    </button>

    <div cms:replace="/html/components/footer :: #fragment"></div>

    <div cms:replace="templates/templates/fragment/footer"></div>

    <script src="/resources/js/particles.min.js"></script>

    <!-- <script src="/templates/resources/js/search_engine.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script> -->
    <script>
        particlesJS("particles", {
            particles: {
                number: {
                    value: 100,
                    density: {
                        enable: true,
                        value_area: 800
                    }
                },
                color: {
                    value: "#ffffff"
                },
                shape: {
                    type: "circle",
                    stroke: {
                        width: 0,
                        color: "#000000"
                    }
                },
                opacity: {
                    value: 0.8,
                    random: true,
                    animation: {
                        enable: true,
                        speed: 1,
                        opacity_min: 0,
                        sync: false
                    }
                },
                size: {
                    value: 3,
                    random: true
                },
                line_linked: {
                    enable: true,
                    distance: 150,
                    color: "#ffffff",
                    opacity: 0.4,
                    width: 1
                },
                move: {
                    enable: true,
                    speed: 2,
                    direction: "none",
                    random: true,
                    straight: false,
                    out_mode: "out",
                    bounce: false,
                }
            },
            interactivity: {
                detectsOn: "canvas",
                events: {
                    onHover: {
                        enable: true,
                        mode: "push"
                    },
                    onClick: {
                        enable: true,
                        mode: "push"
                    },
                    resize: true
                },
                modes: {
                    repulse: {
                        distance: 100,
                        duration: 0.4
                    },
                    push: {
                        particles_nb: 4
                    }
                }
            },
            retina_detect: true
        });
        function scrollToTop() {
            window.scrollTo({
                top: 0,
            });
        }

        window.addEventListener('scroll', function () {
            var scrollTopButton = document.querySelector('.scroll-top');
            if (this.window.pageYOffset > 200) {
                scrollTopButton.style.display = 'block';
            } else {
                scrollTopButton.style.display = 'none';
            }
        });
    </script>
    <script>
        function leftTimer(year, month, day, hour, minute, second) {
            var leftTime = (new Date(year, month - 1, day, hour, minute, second)) - (new Date()); //计算剩余的毫秒数 
            var days = parseInt(leftTime / 1000 / 60 / 60 / 24, 10); //计算剩余的天数 
            var hours = parseInt(leftTime / 1000 / 60 / 60 % 24, 10); //计算剩余的小时 
            var minutes = parseInt(leftTime / 1000 / 60 % 60, 10);//计算剩余的分钟 
            var seconds = parseInt(leftTime / 1000 % 60, 10);//计算剩余的秒数 
            // console.log(days)
            days = checkTime(days);
            hours = checkTime(hours);
            minutes = checkTime(minutes);
            seconds = checkTime(seconds);

            //document.getElementById("timer").innerHTML = days + "天" + hours + "小时" + minutes + "分" + seconds + "秒";
        }

        //  leftTimer(2020, 12, 26, 0, 0, 0)
        // setInterval(function () { leftTimer(2020, 12, 26, 0, 0, 0) }, 1000);


        function checkTime(i) { //将0-9的数字前面加上0，例1变为01 
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
        // https://www.cnblogs.com/kuiyeit/p/4785539.html
        // https://www.cnblogs.com/miny-simp/p/9555498.html


        $('.bd-search').carousel({
            interval: 2000
        })

        // 图片懒加载
        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn" });
        });

        var flag = true
        function loadList(path) {
            // console.log(path)
            let path2 = path.replaceAll('/', '-')
            // let lastPath = pathSplit[pathSplit.length-1]
            id = path2.split(",")[0]
            // console.log()
            var url = location.hostname;
            var protocol = window.location.protocol;
            var port = window.location.port
            let address = protocol + "//" + url + ":" + port + "/" + path
            $.ajax({
                url: address,
                headers: {
                    'Content-Type': 'text/html;charset=utf8',
                    'Accept': 'text/html'
                },
                type: 'GET',
                success: function (data) {
                    html = $(data).find(".list-group").children()


                    $("#" + id + '-list').append(html)

                    loadBtn = $(data).find("#" + id + '-btn').children()
                    $("#" + id + '-btn').html(loadBtn)
                    flag = true
                    $("img.lazy").lazyload({ effect: "fadeIn", threshold: 500 });
                    // loadImg('markdown-preview')
                    // console.log(loadBtn)
                }, error: function (data) {
                    res = JSON.parse(data.responseText)
                    // console.log(res.message)
                    $("#" + id + '-btn').html(res.message)
                }
            });
        }

        // $(window).scroll(function () {
        //     var _target = $(document).height() - $(window).height() - $(window).scrollTop()
        //     // console.log(_target)
        //     if (_target < 400 && flag) {
        //         flag = false
        //         url = $(".tab-pane.fade.active.show .load-id").data("url")
        //         console.log(url)
        //         $("img.lazy").lazyload({ effect: "fadeIn", threshold: 500 });
        //         loadList(url)
        //     }

        // });




    </script>
</body>

</html>