<!DOCTYPE html>
<html lang="en">

<head>
    <title>组件</title>
    <th:block th:replace="templates/templates/fragment/header" />
</head>


<body>
    <div cms:replace="/html/components/header :: #fragment"></div>

    <div class="container container-80vw margin-top-72 " id="article2">
        <section id="fragment">

            <div class="list-group" th:id="${#strings.arraySplit(url,',')[0].replace('/','-')}+'-list'">
                <a class="card2" th:href="${item.linkPath}" style="cursor: pointer;" th:each="item : ${view}">
                    <img th:if="${item.picThumbPath!=null && item.picThumbPath!=''}" class=" lazy"
                        th:data-original="${item.picThumbPath}">
                    <div class="info">
                        <h1 th:text="${item.title}">It's AsmrProg</h1>
                        <p>
                            <span th:text="${item.summary}">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Veniam voluptates error in
                                dolorum
                                dolor
                                rerum
                                reiciendis consequuntur tenetur maxime.</span>
                            <br>
                            <span>发布于: </span>
                            <span th:text="${#dates.format( item.updateDate, 'yyyy-MM-dd HH:mm:ss')}">3 days ago</span>
                        </p>

                    </div>
                </a>
            </div>


            <div th:id="${#strings.arraySplit(url,',')[0].replace('/','-')}+'-btn'">
                <a class="btn btn-info btn-lg btn-block load-id" href="javascript:;" th:onclick="loadList([[${url}]])"
                    style="text-align: center;" th:data-url="${url}">
                    <!-- <span th:text="${info.ids}"></span>
                    <span th:text="${info.sortStr}"></span>
                    <span th:text="${info.order}"></span> -->
                    点击加载更多(<span th:text="${info.page+1}"></span>,<span th:text="${info.totalPage}"></span>)
                    <!-- <span th:text="${componentIds}"></span>
                    <span th:text="${url}"></span> -->
                </a>
            </div>

        </section>
    </div>

    <div cms:replace="/html/components/footer :: #fragment"></div>
    <div th:replace="templates/templates/fragment/footer"></div>
    <script>
        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn" });
        });

        var flag = true
        function loadList(path) {
            // console.log(path)
            let path2 = path.replaceAll('/', '-')
            // let lastPath = pathSplit[pathSplit.length-1]
            id = path2.split(",")[0]
            // console.log()
            var url = location.hostname;
            var protocol = window.location.protocol;
            var port = window.location.port
            let address = protocol + "//" + url + ":" + port + "/" + path
            $.ajax({
                url: address,
                headers: {
                    'Content-Type': 'text/html;charset=utf8',
                    'Accept': 'text/html'
                },
                type: 'GET',
                success: function (data) {
                    html = $(data).find(".list-group").children()


                    $("#" + id + '-list').append(html)

                    loadBtn = $(data).find("#" + id + '-btn').children()
                    $("#" + id + '-btn').html(loadBtn)
                    flag = true
                    $("img.lazy").lazyload({ effect: "fadeIn", threshold: 500 });
                    // loadImg('markdown-preview')
                    // console.log(loadBtn)
                }, error: function (data) {
                    res = JSON.parse(data.responseText)
                    // console.log(res.message)
                    $("#" + id + '-btn').html(res.message)
                }
            });
        }
    </script>
</body>

</html>