<th:block th:fragment="category(commentsVar)">
    <ul th:each="item,index:${commentsVar}">
        <li th:if="${#lists.isEmpty(item.children)}" class="list-unstyled">
            <h4 th:if="${item.parentId==0}">
                </i><a th:href="${item.linkPath}" class="text-muted">
                    <i class="bi  bi-book" th:class="${item.icon}"></i> <span th:text="${item.name}"></span>
                </a>
            </h4>
            <a th:if="${item.parentId!=0}" th:href="${item.linkPath}" class="text-secondary">
                <i class="bi  bi-box2" th:class="${item.icon}"></i> <span th:text="${item.name}"></span>
            </a>
        </li>
        <li th:if="not ${#lists.isEmpty(item.children)}" class="list-unstyled">
            <h4 th:if="${item.parentId==0}">
                </i><a th:href="${item.linkPath}" class="text-muted">
                    <i class="bi  bi-book" th:class="${item.icon}"></i> <span th:text="${item.name}"></span>
                </a>
            </h4>
            <a th:if="${item.parentId!=0}" th:href="${item.linkPath}" class="text-secondary">
                <i class="bi  bi-box2" th:class="${item.icon}"></i> <span th:text="${item.name}"></span>
            </a>
            <th:block th:include="this::category(${item.children})"></th:block>
        </li>
    </ul>
</th:block>

<ul class="md-tabs__list">
    <li class="md-tabs__item" th:each="item,index:${view.partner}">
        <a th:href="${item.linkPath}" class="md-tabs__link" th:text="${item.name}">
            Home11
        </a>
    </li>
    <!-- <li class="md-tabs__item md-tabs__item--active">
        <a href="../" class="md-tabs__link">
            Basic Training
        </a>
    </li>
    <li class="md-tabs__item">
        <a href="../../hands_on/" class="md-tabs__link">
            Hands on
        </a>
    </li>
    <li class="md-tabs__item">
        <a href="../../help/" class="md-tabs__link">
            Getting Help
        </a>
    </li> -->
</ul>
<!-- <div th:include="this::category(${view.partner})"></div> -->