<!DOCTYPE html>
<html>

<head>
    <title th:text="${view.category.name} +' - 生信小木屋'">文章详情</title>
    <meta name="keywords" content="生命科学知识分享,生物技术,生物信息学" th:content="${view.category.name}">

    <cms:block cms:replace="templates/templates/fragment/header" />

    <link rel="stylesheet" href="/templates/resources/css/highlight.css">

    <!-- markdown扩展 -->
    <link rel="stylesheet" href="/templates/resources/css/admonition.css">
    <!-- <link rel="stylesheet" href="/templates/resources/css/katex.min.css"> -->
    <link rel="stylesheet" href="/templates/resources/katex/katex.min.css">
    <link rel="stylesheet" href="/templates/resources/css/code.css?v=1.1">
    <link rel="stylesheet" href="/templates/resources/js/highlight/styles/atom-one-dark.min.css">
    <cms:block cms:replace="templates/templates/fragment/statistics" />

    <style>
        .graph-svg:active {
            cursor: grabbing;
        }

        .graph-svg>g>g {
            cursor: pointer;
        }

        .graph-link {
            stroke: rgba(217, 217, 217, 0.9);
        }

        .graph-node {
            fill: #02c39a;
            stroke: rgba(217, 217, 217, 0.8);
            stroke-width: 1px;
        }

        .graph-node:active {
            cursor: grabbing;
        }

        .graph-text {
            font-size: 12px;
        }

        .graph-fixed {
            fill: #f56100;
        }

        .graph-btn {
            border: none;
            border-radius: 0;
            font-size: 1.2em;
            padding: 0 10px;
            color: #8590a6;
        }

        .graph-btn:focus {
            outline: none;
        }

        .graph-btn:hover {
            color: #5e6575;
        }

        .rethink-menu-btn {
            z-index: 3;
            position: fixed;
            bottom: 2%;
        }

        .rethink-menu-btn img {
            max-width: 4em;
        }
    </style>

</head>

<body>



    <div cms:replace="/html/components/header :: #fragment"></div>
    <div class="container-xl container-80vw  margin-top-72 ">

        <a class="m-tab-btn" id="tab-btn" href="javascript:;">展开</a>
        <div class="row">
            <div class="col-lg-2  pb-3 md-left order-1 m-order-2" id="tab-content1">
                <div class="flex-table">
                    <div class="d-flex user-info g-bg p-2">
                        <img th:src="${view.category.user.avatar}" alt="" class="img-fluid rounded-circle" />
                        <div class="align-self-center ml-3">
                            <i class="bi bi-person"></i>: <strong th:text="${view.category.user.username}">
                            </strong><br>
                            <i class="bi bi-envelope"></i>: <strong> 联系作者</strong>

                        </div>
                    </div>

                    <div class="g-bg p-2">
                        <a class=" badge badge-success "
                            th:href="'/html_articleList_'+${view.category.viewName}+'.html'">
                            <i class="bi bi-bookmarks"></i> <span th:text="${view.category.name}"></span>
                        </a>

                        <a class=" badge badge-success"
                            th:href="'/'+${view.category.path}+'/'+${view.category.viewName}+'-mind.html'">
                            <i class="bi bi-layers"></i> 思维导图</a>
                        <div cms:if="${#sets.contains(roles, 'ADMIN')}">
                            <form th:action="@{'~/user/write/'+${view.category.id}}" method="get" class="input-group">
                                <input name="title" type="text" class="form-control" placeholder="input article name">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">创建文章</button>
                                </div>
                            </form>
                        </div>
                    </div>



                    <div class="category-table flex-table-box g-bg p-2" id="category-table">
                        <div cms:replace="~{${view.category.path}+'/CATEGORY_TITLE/'+${view.category.viewName}} ?:_"
                            parser>
                        </div>
                        <!-- <div cms:replace="~{${view.category.firstTitleList}} ?:_" parser></div> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-2  md-right order-3 m-order-3">

                <div class="flex-table">
                    <div cms:replace="/html/components/form :: #fragment"></div>
                    <div class="g-bg p-2">
                        <div cms:replace="~{${view.parentCategories.get(0).path}+'/CATEGORY_PARTNER/'+${view.parentCategories.get(0).viewName}} ?:_"
                            parser>
                        </div>
                    </div>


                    <!-- <div class="flex-table-box" id="toc-box">
                        <div th:utext="${view.toc}" class="content-table ">
                        </div>
                    </div> -->

                </div>
            </div>
            <div class="col-lg-8 mb-3 order-2 m-order-1">

                <!-- <div>
                <img th:src="${view.picPath}" class="rounded-pill"/>
            </div> -->


                <div id="main-content ">
                    <input type="hidden" th:value="${view.viewName}" id="viewName">

                    <div class="markdown-bg">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">首页 </a></li>
                            <li class="breadcrumb-item" th:if="${not #lists.isEmpty(view.parentCategories)}"
                                th:each="item : ${view.parentCategories}">
                                <a th:href="${item.linkPath}" th:text="${item.name}"></a>
                            </li>
                            <li class="breadcrumb-item">
                                <a th:href="${view.category.linkPath}" th:text="${view.category.name}"></a>
                            </li>

                        </ol>
                        <div th:if="${view.category.picThumbPath!=null && view.category.picThumbPath!=''}">
                            <img th:src="${view.category.picThumbPath}" alt="" style="width:100%">
                        </div>
                        <div th:if="${view.forceDirectedGraph}" class="section ie-size" style="height: 450px;" id="node-graph"></div>

                    </div>
                    <div class="markdown-bg">
                        <div class="content-header  pl-3 pr-3 pt-3 pb-3">
                            <a cms:if="${#sets.contains(roles, 'ADMIN')}" class=" badge badge-success"
                                th:href="@{'~/user/editCategory/'+${view.category.id}}">
                                编辑</a>
                            <ul class="list-group list-group-flush">
                                <div cms:replace="~{'/'+${view.category.path}+'/top/'+${view.category.viewName} :: #fragment }   ?:_"
                                    parser></div>
                            </ul>

                        </div>
                        <div id="markdown" cms:inline="none" class="markdown  markdown-course pt-2 pl-3 pr-3 pb-3"
                            th:utext="${view.category.formatContent}">
                        </div>
                    </div>


                    <!-- <span  cms:if="${#sets.contains(roles, 'ADMIN')}" cms:value="${roles}">greh</span> -->




                </div>

                <div class="mt-3">
                    <div cms:replace="~{${view.category.recommendPath}} ?:_" parser></div>
                </div>




                <!-- <div class="mt-3">

                    <div cms:replace="~{'html/components/recommend-'+${view.category.viewName}} ?:_" parser></div>
                </div> -->

            </div>

        </div>










    </div>
    <input type="hidden" cms:value="${userId}" id="userId">

    <div cms:replace="/html/components/footer :: #fragment"></div>
    <!-- <div th:replace="templates/templates/fragment/side"></div> -->

    <div cms:replace="templates/templates/fragment/footer"></div>

    <script src="/templates/resources/js/article.js?v=1.10"></script>
    <script src="/templates/resources/js/admonition.js"></script>
    <!-- <script src="/templates/resources/js/search_engine.js"></script> -->
    <script src="/templates/resources/js/axios.min.js"></script>
    <script src="/templates/resources/js/service.js?1.0"></script>

    <script src="/templates/resources/js/mermaid.min.js"></script>


    <script>

    </script>
    <script>
        mermaid.init({ noteMargin: 10 }, $(".mermaid"));
    // mermaid.mermaidAPI.initialize({ startOnLoad: false });

    // mermaid.initialize({ startOnLoad: true });

    //   mermaid.init({
    //     theme: 'forest',
    //     // themeCSS: '.node rect { fill: red; }',
    //     logLevel: 3,
    //     securityLevel: 'loose',
    //     flowchart: { curve: 'basis' },
    //     gantt: { axisFormat: '%m/%d/%Y' },
    //     sequence: { actorMargin: 50 },
    //     // sequenceDiagram: { actorMargin: 300 } // deprecated
    //   },$('.mermaid'));
    </script>



    <script cms:inline="javascript">
        // let viewName = "[[${view.category.viewName}]]"

    </script>





    <script cms:inline="javascript">
        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn", threshold: 180 });
        });



    </script>


    <script src="/templates/resources/js/highlight/highlight.min.js"></script>

    <script>

        // hljs.addPlugin({
        //     'after:highlight': (result) => {
        //         result.value = result.value.replace(/^/gm, '<span class="line-num"></span>')
        //     }
        // });

        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((el) => {
                hljs.highlightElement(el);
            });
        });


    </script>

    <script defer src="/templates/resources/katex/katex.min.js"></script>

    <script>

        (function () {
            document.addEventListener("DOMContentLoaded", function () {
                var mathElems = document.getElementsByClassName("katex");
                var elems = [];
                for (const i in mathElems) {
                    if (mathElems.hasOwnProperty(i)) elems.push(mathElems[i]);
                }

                elems.forEach(elem => {
                    katex.render(elem.textContent, elem, { throwOnError: false, displayMode: elem.nodeName !== 'SPAN', });
                });
            });
        })();
    </script>
    <script>

        if (document.body.clientWidth <= 991) {
            $(function () {
                $('#tab-btn').click(function (event) {
                    //取消事件冒泡  
                    event.stopPropagation();
                    //按钮的toggle,如果div是可见的,点击按钮切换为隐藏的;如果是隐藏的,切换为可见的。  
                    $("#tab-content1").animate({ width: 'toggle' });
                    return false;
                });
                //点击空白处隐藏弹出层，下面为滑动消失效果和淡出消失效果。
                $(document).click(function (event) {
                    var _con = $('#tab-btn');   // 设置目标区域
                    if (!_con.is(event.target) && _con.has(event.target).length === 0) {
                        $('#tab-content1').animate({ width: 'hide' });   //滑动消失
                        //$('#view').hide(1000);          //淡出消失
                    }
                });
            })

        }
    </script>

    <script src="/resources/js/d3.v7.min.js"></script>

    <script>
        let graphType = 0;
        const defaultLinkDistance = 100,
            linkStrength = 0.05,
            defaultOpacity = 0.1,
            defaultR = 8,
            defaultTextColor = "rgba(50, 50, 50, 0.65)",
            defaultStrongTextColor = "rgba(50, 50, 50, 1)",
            defaultDuration = 300,
            textXShift = 12,
            textYShift = 21,
            zoomScale = [0.3, 5];
        function switchGraph(
            divId,
            width,
            height,
            graph,
            velocityDecay,
            alphaDecay
        ) {
            $("#" + divId).empty();
            if (graphType === 0) {
                graphType = 1;
                addGraph(
                    divId,
                    graph["inner_post"],
                    width,
                    height,
                    velocityDecay,
                    alphaDecay
                );
                $("#graphSwitcher").text("⊙");
            } else {
                graphType = 0;
                addGraph(
                    divId,
                    graph["outer_post"],
                    width,
                    height,
                    velocityDecay,
                    alphaDecay
                );
                $("#graphSwitcher").text("◎");
            }
        }
        function clamp(x, lo, hi) {
            return x < lo ? lo : x > hi ? hi : x;
        }
        function addGraph(
            divId,
            graph,
            width,
            height,
            velocityDecay,
            alphaDecay
        ) {
            // if (height === undefined) {
            //     height = Math.min(800, width);
            // }
            // function getNodeById(id) {
            //     console.log(id)

            //     let findNode = graph.nodes.find(function (node) { return node.id === id; });
            //     console.log(findNode)
            //     return id
            // }

            let unconnectedLinks, unconnectedNodes;
            function tick() {
                // console.log(link)
                if (link !== undefined) {
                    link
                        .attr("x1", (d) => d.source.x)
                        .attr("y1", (d) => d.source.y)
                        .attr("x2", (d) => d.target.x)
                        .attr("y2", (d) => d.target.y);
                }
                node
                    .selectAll("circle")
                    .attr("cx", (d) => d.x)
                    .attr("cy", (d) => d.y);
                node
                    .selectAll("text")
                    .attr("x", (d) => d.x)
                    .attr("y", (d) => d.y + textYShift)
                    .attr("text-anchor", "middle");
            }
            function mouseoverNode(event, d) {
                d3.select(this)
                    .select("circle")
                    .transition()
                    .duration(defaultDuration)
                    .attr("r", defaultR * 1.5);
                d3.select(this)
                    .selectAll("text")
                    .transition()
                    .duration(defaultDuration)
                    .attr("y", (d) => d.y + textYShift + 6)
                    .style("fill", defaultStrongTextColor);
                if (graphType === 1) {
                    return;
                }
                let connectedNodesId = {};
                connectedNodesId[d.index] = true;
                unconnectedLinks = link.filter(function (e) {
                    if (e.source.index === d.index || e.target.index === d.index) {
                        if (!connectedNodesId.hasOwnProperty(e.source.index)) {
                            connectedNodesId[e.source.index] = true;
                        }
                        if (!connectedNodesId.hasOwnProperty(e.target.index)) {
                            connectedNodesId[e.target.index] = true;
                        }
                        return false;
                    } else {
                        return true;
                    }
                });
                unconnectedNodes = node.filter(function (e) {
                    return !connectedNodesId.hasOwnProperty(e.index);
                });
                unconnectedNodes
                    .transition()
                    .duration(defaultDuration)
                    .style("opacity", defaultOpacity);
                unconnectedLinks
                    .transition()
                    .duration(defaultDuration)
                    .style("opacity", defaultOpacity);
            }
            function mouseoutNode(event, d) {
                const g = d3.select(this);
                g.selectAll("text")
                    .transition()
                    .duration(defaultDuration)
                    .attr("y", (d) => d.y + textYShift)
                    .style("fill", defaultTextColor);
                g.select("circle")
                    .transition()
                    .duration(defaultDuration)
                    .attr("r", defaultR);
                if (graphType === 1) {
                    return;
                }
                unconnectedNodes
                    .transition()
                    .duration(defaultDuration)
                    .style("opacity", 1);
                unconnectedLinks
                    .transition()
                    .duration(defaultDuration)
                    .style("opacity", 1);
            }
            function unfix(event, d) {
                delete d.fx;
                delete d.fy;
                d3.select(this).classed("graph-fixed", false);
                simulation.alpha(1).restart();
            }
            function redirect(event, d) {
                if (graphType === 0) {
                    location.href = d.url;
                } else {
                    const divId = d.url.split("#")[1];
                    if (divId === undefined) {
                        window.scrollTo({
                            top: 0,
                            behavior: "smooth"
                        });
                    } else {
                        const myElement = document.getElementById(divId);
                        const topPos = myElement.offsetTop;
                        window.scrollTo({
                            top: topPos - 120,
                            behavior: "smooth"
                        });
                        $("#" + divId)
                            .fadeOut(300)
                            .fadeIn(200)
                            .fadeOut(200)
                            .fadeIn(200);
                    }
                }
            }
            function dragend() {
                d3.select(this).classed("graph-fixed", true);
            }
            function dragged(event, d) {
                d.fx = clamp(event.x, 0, width);
                d.fy = clamp(event.y, 0, height);
                simulation.alpha(1).restart();
            }
            const simulation = d3
                .forceSimulation(graph.nodes)
                .force('link', d3.forceLink(graph.edges).id(function (n) { return n.id; }))
                // .nodes(graph.nodes)

                .velocityDecay(velocityDecay)
                .alphaDecay(alphaDecay)
                .force("charge", d3.forceManyBody())
                .force("center", d3.forceCenter(width / 2, height / 2))
                .force(
                    "graph-link",
                    d3
                        .forceLink(graph.edges)
                        .distance((l) => {
                            if (l.distance !== undefined) {
                                return l.distance;
                            } else {
                                return defaultLinkDistance;
                            }
                        })
                        .strength(linkStrength)
                )
                .on("tick", tick);
            const drag = d3.drag().on("drag", dragged).on("end", dragend);
            const svg = d3
                .select("#" + divId)
                .append("svg")
                .attr("viewBox", [0, 0, width, height])
                .classed("graph-svg", true),
                g = svg.append("g"),
                link = g
                    .selectAll(".graph-link")
                    .data(graph.edges)
                    .join("line")
                    .attr("stroke-width", (d) => d.weight)
                    .classed("graph-link", true),
                node = g
                    .selectAll("g")
                    .data(graph.nodes)
                    .join("g")
                    .on("mouseover", mouseoverNode)
                    .on("mouseout", mouseoutNode),
                circle = node
                    .append("circle")
                    .attr("r", (d) => (d.r !== undefined ? d.r : defaultR))
                    .classed("graph-fixed", (d) => d.fx !== undefined)
                    .classed("graph-node", true);
            node
                .append("a")
                .append("text")
                .attr("x", textXShift)
                .attr("y", textYShift)
                .style("fill", defaultTextColor)
                .text((d) => (d.title !== undefined ? d.title : d.index))
                .classed("graph-text", true)
                .clone(true)
                .lower()
                .attr("fill", "none")
                .attr("stroke", "white")
                .attr("stroke-width", 0.3);
            function zoomed({ transform }) {
                const text = node.selectAll("text");
                if (transform.k < 0.6) {
                    if (text.attr("opacity") !== 0) {
                        text.transition().duration(300).attr("opacity", 0);
                    }
                } else {
                    text.transition().duration(300).attr("opacity", 1);
                }
                g.attr("transform", transform);
            }
            svg.call(
                d3
                    .zoom()
                    .extent([
                        [0, 0],
                        [width, height]
                    ])
                    .scaleExtent(zoomScale)
                    .on("zoom", zoomed)
            );
            circle.call(drag);
            node.on("click", redirect);
        }
    </script>
    <script th:inline="javascript">
        var jsonStr =  /*[[${view.forceDirectedGraph}]]*/ '{}';
        let json = JSON.parse(jsonStr)
        // console.log(json)
        addGraph(
            "node-graph",
            json
            ,
            1000,
            400,
            0.15,
            0.2
        );
        // divId,
        //     graph,
        //     width,
        //     height,
        //     velocityDecay,
        //     alphaDecay
    </script>
</body>

</html>