<!DOCTYPE html>
<html>

<head>
    <title>生信小木屋</title>
    <meta name="keywords" content="生物信息学,生信,生信小木屋,生物信息分析,r语言,python">
    <meta name="description" content="生信小木屋，用数据科学的知识，探索生命科学的奥秘">
    <cms:block cms:replace="templates/templates/fragment/header" />
    <link rel="stylesheet" href="/templates/resources/css/home.css">
</head>

<body cms:inline="none">
    <div cms:replace="/html/components/header :: #fragment"></div>


    <div class=" container mb-3 margin-top-72">
        
    </div>


    <div cms:replace="/html/components/footer :: #fragment"></div>
    <div cms:replace="templates/templates/fragment/footer"></div>
    <script src="/templates/resources/js/mermaid.min.js"></script>

    <script src="/templates/resources/js/jquery.pagination.js"></script>
    <script src="/templates/resources/js/write.js?v=1.9"></script>


</body>

</html>