<!DOCTYPE html>
<html>

<head>
    <title th:text="${view.title}"></title>

    <cms:block cms:replace="templates/templates/fragment/header" />

    <link rel="stylesheet" href="/templates/resources/css/sheet.css">
    <!-- markdown扩展 -->
    <link rel="stylesheet" href="/templates/resources/css/admonition.css">
    <link rel="stylesheet" href="/templates/resources/themes/github.css">

    <link rel="stylesheet" href="/templates/resources/css/index.css?v=1.6">

 
</head>

<body cms:inline="none">
    <style>
        table{
            width: 80%;
        }
    </style>
    <div cms:replace="/html/components/header :: #fragment"></div>
    <div class="container margin-top-72">
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page" th:text="${view.title}">首页</li>
            </ol>
        </nav> -->
        <div cms:if="${#sets.contains(roles, 'ADMIN')}">
            <a th:href="'/user/editSheet/'+${view.id}" class="btn btn-success ">编辑</a>
        </div>

        <div class=" bg-white  table  rounded mb-3" >
            <!-- <img src="http://wangyang-bucket.oss-cn-beijing.aliyuncs.com/cms/image/imgSvg-1698593625933.svg"> -->
            <!-- <img src="http://wangyang-bucket.oss-cn-beijing.aliyuncs.com/cms/image/imgSvg-1698594370011.svg" alt=""> -->
            <div class="p-3" th:utext="${view.formatContent}">
                
            </div>
            <div>
                <img src="http://wangyang-bucket.oss-cn-beijing.aliyuncs.com/cms/image/imgSvg-1698592484899.svg">

            </div>
        </div>


    </div>

    <div cms:replace="/html/components/footer :: #fragment"></div>
    <div cms:replace="templates/templates/fragment/footer"></div>
</body>

</html>