<!DOCTYPE html>
<html>

<head>
    <title th:text="${view.title}"></title>
    <cms:block cms:replace="templates/templates/fragment/header" />

    <link rel="stylesheet" href="/templates/resources/css/sheet.css">
    <!-- markdown扩展 -->
    <link rel="stylesheet" href="/templates/resources/css/admonition.css">
</head>

<body cms:inline="none">
    <div cms:replace="/html/components/header :: #fragment"></div>
    <div class="container margin-top-72">
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page" th:text="${view.title}">首页</li>
            </ol>
        </nav> -->
        <div cms:if="${#sets.contains(roles, 'ADMIN')}">
 
            <a th:href="'/user/editSheet/'+${view.id}" class="btn btn-success ">编辑</a>

        

        </div>
        <div class="markdown shadow p-3 bg-white rounded mb-3" th:utext="${view.formatContent}">
        </div>

    </div>
    <script src="/templates/resources/js/search_engine.js"></script>

    <div cms:replace="/html/components/footer :: #fragment"></div>
    <div cms:replace="templates/templates/fragment/footer"></div>

</body>

</html>